.flame{
    padding: 20px 20px;
    background-color: red;
    color: white;
    position: fixed;     /* 画面に対して固定位置 */
    top: 0;              /* 上端に配置 */
    left: 0;             /* 左端に配置 */
    margin: 10px;        /* 端から少し余白を取る（任意） */
    z-index: 1000;       /* 他の要素より前面に表示（必要に応じて） */

}