/* スマホ画面のコンテナ */
.gameContainer {
  width: 100%;
  max-width: 450px; /* スマホの最大幅を指定 */
  height: 85vh;     /* ビューポートの高さの85%を使う */
  margin: auto;     /* 中央揃え */
  border: 2px solid #ccc; /* 枠線（任意） */
  position: relative; /* 子要素の基準位置にする */
}

/* Unityコンポーネント自体に適用 */
.unityCanvas {
  width: 100%;
  height: 100%;
}

.loadingOverlay {
  /* We'll render the overlay on top of the Unity Application. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  /* We'll set the following Flex properties in order to center the text. */
  display: flex;
  justify-content: center;
  align-items: center;
}