.CameraPosition{
    padding: 20px 20px;
    position: fixed;     /* 画面に対して固定位置 */
    top: 0;              /* 上端に配置 */
    left: 0;
}

.CameraAim{
    position: 'absolute';
    border: 1px solid #F00;
}