.CameraPosition {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; と同等 */
  display: flex;
  bottom: 150px;
  justify-content: center;
  align-items: center;
  background: hwb(0 100% 0%);
   /* 任意：カメラ以外を黒くする */
  z-index: 1;
}

.VideoElement {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  object-fit: cover; /* 画面を覆う／切り取りの挙動を調整 */
  position: relative;
  z-index: 3;
}

.CameraAim {
  position: absolute;
  border: 2px solid #ff0000;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 4;
  background: rgba(255,0,0,0.06);
}